#top {
  width: 100%;
  border-bottom: 1px solid #ccc; }

#banner {
  width: 100%; }
  #banner .banner {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    width: 1200px;
    height: 480px;
    overflow: hidden; }
    #banner .banner ul {
      position: relative;
      left: -1200px;
      width: 8400px;
      overflow: hidden; }
      #banner .banner ul li {
        float: left;
        width: 1200px;
        height: 480px; }
        #banner .banner ul li img {
          width: 100%; }
    #banner .banner #next {
      font-size: 50px;
      position: absolute;
      right: 20px;
      top: 190px;
      color: #fff;
      background: rgba(0, 0, 0, 0.4);
      cursor: pointer;
      display: none; }
    #banner .banner #prev {
      font-size: 50px;
      position: absolute;
      left: 250px;
      top: 190px;
      color: #fff;
      background: rgba(0, 0, 0, 0.4);
      cursor: pointer;
      display: none; }
    #banner .banner #list-nav {
      position: absolute;
      width: 220px;
      height: 480px;
      background: rgba(0, 0, 0, 0.4);
      left: 0;
      top: 0;
      padding: 16px 0;
      font-size: 14px;
      z-index: 3; }
      #banner .banner #list-nav li {
        width: 220px;
        height: 56px;
        line-height: 56px; }
        #banner .banner #list-nav li i {
          float: left;
          width: 22px;
          height: 22px;
          background: url(../img/index_sprite.png) -4px -4px no-repeat;
          margin: 18px 20px 0; }
        #banner .banner #list-nav li .i2 {
          background-position: -35px -4px; }
        #banner .banner #list-nav li .i3 {
          background-position: -67px -4px; }
        #banner .banner #list-nav li .i4 {
          background-position: -96px -4px; }
        #banner .banner #list-nav li .i5 {
          background-position: -124px -4px; }
        #banner .banner #list-nav li .i6 {
          background-position: -157px -4px; }
        #banner .banner #list-nav li .i7 {
          background-position: -186px -4px; }
        #banner .banner #list-nav li .i8 {
          background-position: -214px -4px; }
        #banner .banner #list-nav li a {
          color: #fff;
          float: left;
          margin-left: 10px; }
        #banner .banner #list-nav li a:last-child {
          color: gray; }
    #banner .banner .list-aside {
      width: 660px;
      height: 475px;
      background: #fff;
      position: absolute;
      left: 220px;
      top: 0;
      box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.4);
      display: none; }
      #banner .banner .list-aside .list-aside-left {
        width: 219px;
        height: 475px;
        position: static;
        border-right: 1px solid #ccc;
        padding: 16px 0;
        float: left; }
        #banner .banner .list-aside .list-aside-left li {
          width: 220px;
          height: 56px;
          line-height: 56px; }
          #banner .banner .list-aside .list-aside-left li i {
            width: 32px;
            float: left;
            height: 32px;
            margin: 10px 20px 0 40px; }
      #banner .banner .list-aside .list-aside-center {
        width: 219px;
        height: 475px;
        border-right: 1px solid #ccc;
        float: left; }
        #banner .banner .list-aside .list-aside-center .list-aside-center-son {
          height: 138px;
          border-bottom: 1px solid #ccc;
          padding-top: 20px; }
          #banner .banner .list-aside .list-aside-center .list-aside-center-son img {
            float: left;
            width: 120px; }
          #banner .banner .list-aside .list-aside-center .list-aside-center-son span {
            float: left;
            width: 80px;
            margin-top: 20px; }
      #banner .banner .list-aside .list-aside-right {
        width: 220px;
        height: 475px;
        text-align: center;
        float: left; }
        #banner .banner .list-aside .list-aside-right .list-aside-right-son {
          height: 217px;
          border-bottom: 1px solid #ccc;
          padding-top: 20px; }
          #banner .banner .list-aside .list-aside-right .list-aside-right-son span {
            display: block;
            margin-top: 30px; }
      #banner .banner .list-aside .list-aside-right .list-aside-right-son:last-child {
        border-bottom: none; }

#btn {
  position: absolute;
  bottom: 10px;
  left: 45%; }
  #btn span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #999;
    background: raga(0, 0, 0, 0.8);
    margin-left: 10px;
    cursor: pointer; }
  #btn .active {
    background: #fff; }

#main-top {
  width: 100%; }
  #main-top .main-top {
    width: 1200px;
    height: 200px;
    margin: 0 auto; }
    #main-top .main-top a {
      float: left;
      width: 298px;
      height: 200px;
      border-left: 1px solid #ccc;
      border-bottom: 1px solid #ccc; }
      #main-top .main-top a img {
        margin: 20px 50px; }
    #main-top .main-top .last-a {
      border-right: 1px solid #ccc;
      width: 301px; }

#star-item {
  width: 100%; }
  #star-item .star-item {
    width: 1200px;
    margin: 80px auto;
    text-align: center; }
    #star-item .star-item span {
      width: 160px;
      height: 67px;
      display: inline-block;
      background: url(../img/index_sprite.png) 0 -60px no-repeat; }
    #star-item .star-item .star-item-top {
      width: 1200px;
      overflow: hidden;
      margin-top: 35px; }
      #star-item .star-item .star-item-top .star-item-top-left {
        float: left;
        text-align: center; }
        #star-item .star-item .star-item-top .star-item-top-left a {
          display: inline-block;
          width: 597px;
          height: 690px;
          border: 1px solid #ccc;
          border-right: none;
          color: #999;
          perspective: 800px; }
          #star-item .star-item .star-item-top .star-item-top-left a img {
            margin-top: 75px;
            transform-style: preserve-3d;
            transition: all 2s; }
          #star-item .star-item .star-item-top .star-item-top-left a i {
            font-style: normal;
            display: block;
            margin-top: 20px; }
        #star-item .star-item .star-item-top .star-item-top-left a:hover img {
          transform: rotateY(360deg); }
        #star-item .star-item .star-item-top .star-item-top-left a:hover i {
          color: red; }
      #star-item .star-item .star-item-top .star-item-top-right {
        width: 600px;
        height: 690px;
        float: right;
        border: 1px solid #ccc;
        text-align: center; }
        #star-item .star-item .star-item-top .star-item-top-right a {
          width: 299px;
          height: 345px;
          float: left;
          border-right: 1px solid #ccc;
          border-bottom: 1px solid #ccc; }
          #star-item .star-item .star-item-top .star-item-top-right a img {
            margin-top: 30px; }
          #star-item .star-item .star-item-top .star-item-top-right a i {
            font-style: normal; }
          #star-item .star-item .star-item-top .star-item-top-right a p {
            margin-top: 20px; }
    #star-item .star-item .star-item-bot {
      width: 1198px;
      overflow: hidden;
      border: 1px solid #ccc;
      border-top: none;
      text-align: center; }
      #star-item .star-item .star-item-bot .star-item-bot-left {
        width: 597px;
        height: 679px;
        border-right: 1px solid #ccc;
        float: left; }
        #star-item .star-item .star-item-bot .star-item-bot-left .star-item-bot-left-t {
          height: 338px;
          border-bottom: 1px solid #ccc; }
          #star-item .star-item .star-item-bot .star-item-bot-left .star-item-bot-left-t img {
            transition: all 3s; }
        #star-item .star-item .star-item-bot .star-item-bot-left .star-item-bot-left-t:hover img {
          transform: scale(0.8, 0.8); }
        #star-item .star-item .star-item-bot .star-item-bot-left .star-item-bot-left-b {
          overflow: hidden; }
          #star-item .star-item .star-item-bot .star-item-bot-left .star-item-bot-left-b .wbl {
            padding-top: 20px;
            width: 300px;
            height: 320px;
            display: inline-block;
            float: left;
            border-right: 1px solid #ccc; }
            #star-item .star-item .star-item-bot .star-item-bot-left .star-item-bot-left-b .wbl img {
              transition: all 1s; }
            #star-item .star-item .star-item-bot .star-item-bot-left .star-item-bot-left-b .wbl p {
              margin-top: 20px; }
          #star-item .star-item .star-item-bot .star-item-bot-left .star-item-bot-left-b .wbl:hover img {
            transform: scale(1.3, 1.3); }
          #star-item .star-item .star-item-bot .star-item-bot-left .star-item-bot-left-b .tc {
            display: inline-block;
            padding-top: 20px; }
            #star-item .star-item .star-item-bot .star-item-bot-left .star-item-bot-left-b .tc img {
              transition: all 1s; }
            #star-item .star-item .star-item-bot .star-item-bot-left .star-item-bot-left-b .tc p {
              margin-top: 20px; }
          #star-item .star-item .star-item-bot .star-item-bot-left .star-item-bot-left-b .tc:hover img {
            transform: scale(1.3, 1.3); }
      #star-item .star-item .star-item-bot .star-item-bot-right {
        width: 600px;
        height: 679px;
        float: left; }
        #star-item .star-item .star-item-bot .star-item-bot-right i {
          display: block;
          margin-top: 20px; }

#members-area {
  width: 100%; }
  #members-area .members-area {
    width: 1200px;
    margin: 0 auto 120px;
    text-align: center;
    overflow: hidden; }
    #members-area .members-area span {
      width: 160px;
      height: 38px;
      display: inline-block;
      background: url(../img/index_sprite.png) 0 -140px no-repeat; }
    #members-area .members-area .more {
      display: block;
      margin-top: 10px; }
    #members-area .members-area .more:hover {
      color: red; }
    #members-area .members-area p {
      width: 299px;
      height: 388px;
      float: left;
      border-right: 1px solid #ccc;
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      margin-top: 40px;
      padding-top: 30px;
      position: relative; }
      #members-area .members-area p .lj {
        width: 120px;
        height: 40px;
        border: 1px solid #ccc;
        border-radius: 5px;
        display: inline-block;
        line-height: 40px;
        position: absolute;
        left: 90px;
        top: -40px;
        background: #A3C3E6;
        transition: all 1s;
        opacity: 0; }
    #members-area .members-area p:hover .lj {
      transform: translateY(380px);
      opacity: 1; }

/*# sourceMappingURL=index.css.map */
